.form_contact {
  border: 1px solid black;
  width: 70%;
  padding: 15px;
}
.input_contact {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_label {
  font-size: 18px;
}
.form_control {
  width: 70%;
  padding: 5px;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid grey;
}
.btn {
  margin-left: 5px;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid grey;
}
