.filter {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_label {
  margin-left: 5px;
  color: #000;
  font-size: 16px;
}
.form_control {
  width: 50%;
  padding: 5px;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid grey;
}
